.cake {
  height: 200px;
}
.image {
  width: 100%;
  height: 200px;
}

/*nav bar*/
.navbarHome {
  background: #C8D5C2;
  padding: 20px 20px 20px 110px;
}

.logo {
  height: 100px;
}

.logo a img {
 width: 70px;
 height: 70px;
}

.logo i {
  position: absolute;
  top: 76px;
  left: 114px;
}

.logo .spa {
  position: absolute;
  top: 68px;
  left: 114px;
  font-size: 10px;
}

.carousel img {
  height: 600px;
}

.bigColumn::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #9c835b;
  width: 1px;
  height: 20%;
  left: 50%;
  font-family: Amperzand, Arial, sans-serif;
}

.secondColumn {
  color: #9c835b;
  font-family: Amperzand, Arial,sans-serif;
}
@font-face {
  font-family: Amperzand;
}

.pageLink a {
 color: #9c835b;
}

/*main container*/
#myContainer {
  padding: 20px;
  margin: 20px auto;
  box-shadow: 6px 5px 19px 2px rgba(0,0,0,0.1);
}

#myContainer2 {
  padding: 20px;
  margin: 20px auto;
  box-shadow: 6px 5px 19px 2px rgba(0,0,0,0.1);
  height: 900px;
}

.secondRow {
  background-image: url("../img/leaves.jpg");
  height: 400px;
  background-size: cover;
}

.smallColumns {
  background: white;
}

.serviceCard {
  background: transparent;
  height: 300px;
  margin-top: 40px;
  color: #9c835b;
}

.serviceCard .card-body {
  border: 1px solid #9c835b;
}

.bookCard {
  margin: 10px;
  position: relative;
}

.bookCard h5 {
  color: #9c835b;
}

.bookCard .btn {
  position: absolute;
  top: 770px;
  left: 95px;
  border: 1px solid #9c835b;
  background: #d4b583;
  color: white;
}

.card-img-top {
  height: 150px;
}

/*footer*/
.footerHome {
  width: 100%;
  height: 200px;
  padding-top: 60px;
}

#footerCard {
  padding: 3px 111px 29px 111px;
  background: #C8D5C2;
  text-align: center;
}

.footerCard {
  width: 300px;
  font-weight: 600;
  font-size: 14px;
  background: #C8D5C2;}

.centerCard {
  background: transparent;
  border: none;
}

.centerCardAuthor {
  font-size: 12px;
  padding-top: 80px;
}

/*buttons*/
.btnFooter {
  width: 164px;
  background: #D1D5F6;
  box-shadow: 6px 5px 19px 2px rgba(0,0,0,0.1);
}

#btnHome {
  margin-left: 122px;
  background: #D1D5F6;
  box-shadow: 6px 5px 19px 2px rgba(0,0,0,0.1);
  z-index: 1;
}


